<header class="main-header" [class.dark]="isDarkMode">
    <div class="header-content">

        <img src="./assets/img/bitcoin.png" alt="">

        <nav class="main-nav">
            <ul class="clean-list">
                <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <img src="./assets/img/home.png" alt="home" class="home-icon"></a></li>
                <li><a routerLink="contact" routerLinkActive="active">
                        <img src="./assets/img/users.png" alt="contacts"></a></li>
                <li><a routerLink="stats" routerLinkActive="active">
                        <img src="./assets/img/increase.png" alt=""></a></li>
            </ul>
        </nav>
    </div>

</header>